@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200&family=Roboto:ital,wght@0,400;1,300&display=swap");

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #f0f0f0;
}



.nav-container{
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: black;

}

.logo{
  margin-left: 100px;
  margin-top: 25px;
  background-color: black;
}

.nav-items{
  display: flex;
  margin-top: 10px;
  margin-right: 200px;
  background-color: black;

}
.nav-items a{
  color: white;
  text-decoration: none;
  background-color: black;
}
li{
  list-style-type: none;
  background-color: black;
}

.nav-item{
  padding: 5px;
  margin: 10px;
  /* background-color: black; */
}

#book, #register{
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  width: 100vw;
}

.book-container,.reg-container{
  /* border: 2px solid green; */
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgb(93, 93, 93);
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

.heading,.reg-heading{
  font-weight: 900;
  margin: 10px 0px 10px 0px;
}

table,td,th{
  border: 2px solid #E4E3E4;
  border-collapse: collapse;
}

td{
  padding: 7px;
}

table a{
  color: rgb(12, 12, 180);
  display: inline-block;
  margin-bottom: 5px;
}

.reg-container{
  width: 520px;
  margin-top: 50px;
}


form{
  display: flex;
  flex-direction: column;
}

label{
  /* border: 2px solid red; */
  padding: 5px;
}

input{
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
}

.btn{
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  background-color: black;
  margin-top: 10px;
}














